header{

    background-color: rgb(71, 5, 77);
    height: 150px;
    width: 100%;
   text-align:center;
   padding-top: 10px;
   color: rgb(189, 205, 228);
    
}
header nav ul li {
    display: inline-block;
    float:center;
    margin-left: 5%;
    font-size: larger;
}
body main h2{
    text-align:center;
    color: rgb(189, 205, 228);
}
#one {
   
    background-color: rgb(129, 139, 145);
   
    display: inline-block;
    text-align: center;
    height: 100%;
    width: 100%;
    margin-top:20px;

}
footer{
    background-color: rgb(71, 5, 77);
    height: 80%;
    width: 100%;
   text-align:center;
   padding-bottom: 10px;
   color: rgb(189, 205, 228);

}
